/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */
.banner img {background-color: #FFFFFF;padding:15px;margin:20px;}
.brand {padding-top: 30px;}
.brand h4 {color: #999999}
ol.breadcrumb li {color: white; font-style: italic;}
ol.breadcrumb li a {color: white; font-weight: bold; font-style: normal;}
body.undernavigation {overflow-x: hidden; padding-top: 65px;}
#content {padding-bottom:60px;}
#designedby {padding: 5px;}
#footer_feedback {padding-top: 12px;}
input[type="file"] {display: block;height: auto;}
div.panel-primary div.panel-heading a {color: white;}
/* This magic gets the 16x16 icon to show up.. setting height/width didn't
   do it, but adding padding actually made it show up. */
img.ds-authority-confidence,
span.ds-authority-confidence
{ width: 16px; height: 16px; margin: 5px; background-repeat: no-repeat;
  padding: 0px 2px; vertical-align: bottom; color: transparent;}
img.ds-authority-confidence.cf-unset,
span.ds-authority-confidence.cf-unset
  { background-image: url(../../../image/authority/bug.png);}
img.ds-authority-confidence.cf-novalue,
span.ds-authority-confidence.cf-novalue
  { background-image: url(../../../image/confidence/0-unauthored.gif);}
img.ds-authority-confidence.cf-rejected,
img.ds-authority-confidence.cf-failed,
span.ds-authority-confidence.cf-rejected,
span.ds-authority-confidence.cf-failed
  { background-image: url(../../../image/confidence/2-errortriangle.gif); }
img.ds-authority-confidence.cf-notfound,
span.ds-authority-confidence.cf-notfound
  { background-image: url(../../../image/confidence/3-thumb1.gif); }
img.ds-authority-confidence.cf-ambiguous,
span.ds-authority-confidence.cf-ambiguous
  { background-image: url(../../../image/confidence/4-question.gif); }
img.ds-authority-confidence.cf-uncertain,
span.ds-authority-confidence.cf-uncertain
  { background-image: url(../../../image/confidence/5-pinion.gif); }
img.ds-authority-confidence.cf-accepted,
span.ds-authority-confidence.cf-accepted
  { background-image: url(../../../image/confidence/6-greencheck.gif); }

/* hide authority-value inputs in forms */
input.ds-authority-value { display:none; }

/** XXX Change to this to get the authority value to show up for debugging:
 input.ds-authority-value { display:inline; }
**/

/* for edit-item-form lock button */
input.ds-authority-lock
  { vertical-align: bottom; height: 24px; width: 24px; margin-right: 8px;
    background-repeat: no-repeat; background-color: transparent; }
input.ds-authority-lock.is-locked
  { background-image: url(../../../image/lock24.png); }
input.ds-authority-lock.is-unlocked
  { background-image: url(../../../image/unlock24.png); }

/* field required in submission */
.label-required:after { content:" *"; }

/** Modifica cor da barra de navegação **/
.navbar-inverse {
	background-image: linear-gradient(to bottom, #fbd930 0px, #ffd500 100%);
}

/** Modifica cores da barra de navegação **/
.navbar-inverse .navbar-nav li a{
	color: #626261;
}

/** Modifica cor das setas dropdown da barra de navegação. **/
.navbar-inverse .navbar-nav > .dropdown > a .caret, .navbar-inverse .navbar-nav > .dropdown > a .caret:HOVER, .nav a:hover .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
}

/** Modifica cor de fundo para de evento "hover" do menu da barra de menus **/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #ffd500;
    background-image: linear-gradient(to bottom, #fbd930 0px, #d7bf43 100%);
    background-repeat: repeat-x;
}

/** Modifica cor de fundo de botões da barra de navegação  **/
.navbar-inverse .navbar-nav > .active > a {
	background-color: #d7bf43;	
}

/** Modifica cor de fundo para de evento "hover" do menu da barra de navegação **/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #ffd500;
}

/** Modifica codo de fundo de itens clicáveis da barra de navegação **/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ffd500;
}

/** Modifica cores dos cabeçalhos **/
.panel-primary > .panel-heading {
	color: #757575;
	font-weight: bold;
    background-image: linear-gradient(to bottom, #fff 0px, #ebebeb 100%);
    background-repeat: repeat-x;
}

/** Modifica cor da bora dos cabeçahos **/
.panel-primary > .panel-heading {
    background-color: #ffe698;
    border-color: #ebebeb;
}

.panel-primary {
    border-color: #fff;
}

/** Modifica cor dos itens de paginação **/
.panel-info > .panel-heading {
    background-image: linear-gradient(to bottom, #ffed9b 0px, #f4e28c 100%);
    background-repeat: repeat-x;
    color: #626261;
    border-color: #d2af0c;
}

.panel-info {
    border-color: #d2af0c;
}

/** Modifica caixas de informação **/
.alert-info {
	background-image: linear-gradient(to bottom, #fbd930 0px, #ffd500 100%);
	color: #626261;
	border-color: #f8c218;
}

/** Modifica mensagem de alerta **/
.alert-warning {
	background-image: linear-gradient(to bottom, #e1b325 0px, #d4a516 100%);
	color: #fff;
	border-color: #f8c218;
}

/** Modifica cor do botão padrão **/
.btn-success {
    background-image: linear-gradient(to bottom, #214376 0px, #0f2e5b 100%);
    background-repeat: repeat-x;
    border-color: #214376;
}

/** Modifica cor do botão de alerta (geralmente cancelar) **/
.btn-warning {
    background-image: linear-gradient(to bottom, #d1d3d4 0px, #c5cccf 100%);
    background-repeat: repeat-x;
    border-color: #a8aaab;
}

/* .well {
    background-image: linear-gradient(to bottom, #fff5c8 0px, #fff4bf 100%);
    border-color: #fbcf00;
} */

a {
    color: #102e5b;
}


/** Facetas página inicial/busca **/
.hideFacets {
	display: none;
}

/** Facetas da página inicial **/
.clickable-panel, .panel-success>.panel-heading {
	cursor: pointer;
	background-image: linear-gradient(to bottom, #f5f5f5 0px, #e9e9e9 100%) !important;
	border-color: #ddd !important;
	color:  #818181 !important;
}

.colorborder, .panel-success {
	border-color: #ddd !important;
}

.list-group-item-heading {
	font-size: 14px;
	font-weight: bold;
}

/** Modifica do ícone de ajuda **/
.glyphicon-question-sign {
	color: black;
}